h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  color: red;
}

form { 
    margin: 20px;
    width: 650px;
    text-align: right;
}

div.a {
    padding: 100px;
    width: 100%; 
    margin: auto;
}

/* - NEW */

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 70%; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
    white-space: nowrap;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.top-fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 30px;
  background-color: black;
}

.fixed-nav-bar {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-image: url("got_img.jpeg");
  background-size: contain;
}

.bottom-three {
     margin-bottom: 3cm;
  }
